<div class="login-container">
    <div class="login-content">      
      <mat-card>
        <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-icon matPrefix>person_outline</mat-icon>
            <input id="username" autofocus type="text" matInput placeholder="Username" formControlName="username">
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input id="password" type="password" autocomplete="false" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
          <br />
          <button id="button" type="submit" mat-raised-button color="primary">Login</button>
        </form>
      </mat-card>
    </div>
  </div>